@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin font-size-to-em($to-size, $from-size: $base-font-size) {
    $to-size: convert-length($to-size, px, $from-size);
    @include output-rhythm(font-size, convert-length($to-size, $rhythm-unit, $from-size));
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}