* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100%;
    color: #000;
}

h5 {
    font-weight: 400;
    padding: 0 20px;
}

.game-board {
    width: span(10);
    padding-top: span(10);
    margin: auto;
    margin-top: gutter();
    //background: susy-svg-grid() no-repeat scroll;
    position: relative;

    @include mq('s') {
        width: span(9);
        padding-top: span(9);
    }

    @include mq('m') {
        width: span(8);
        padding-top: span(8);
    }

    @include mq('l') {
        width: span(7);
        padding-top: span(7);
    }
}

.square-wrap {
    position: relative;
    margin-top: -100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.square {
    position: relative;
    overflow: hidden;
    width: span(4);
    padding-top: span(4);
    margin-bottom: gutter();
}

input[type="radio"] {
    display: none;

    &:checked + label {
        cursor: default;
        z-index: 10 !important;
    }

    &:checked + label:after {
        opacity: 1;
    }

    &:checked + label {
        background-color: $player-1-color;
    }

    &:checked + label.player-1 {
        background-color: $player-1-color;
    }

    &:checked + label.player-2 {
        background-color: $player-2-color;
    }
}

label {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #78bec5;
    border-radius: 14px;
    cursor: pointer;
    color: #fff;

    transition: background-color .3s;

    &:hover {
        background-color: $hover-color;
    }

    &:after {
        left: 0;
        font-family: "FontAwesome";
        font-size: 46px;
        margin-top: -24px;
        position: absolute;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
        top: 50%;
        width: 100%;
        color: #fff;
        line-height: 1;
        z-index: 10;

        @include mq('s') {
            font-size: 56px;
            margin-top: -28px;
        }

        @include mq('m') {
            font-size: 70px;
            margin-top: -35px;
        }

        @include mq('l') {
            font-size: 86px;
            margin-top: -43px;
        }

        @include mq('xl') {
            font-size: 96px;
            margin-top: -48px;
        }

        @include mq('xxl') {
            font-size: 106px;
            margin-top: -58px;
        }
    }

    &.player-1:after {
        content: $player-1-icon;
    }

    &.player-2:after {
        content: $player-2-icon;
    }
}