$size-sm:        90px;
$size:           140px;

$player-1-icon:  "\f00d";
$player-2-icon:  "\f10c";

$player-1-color: #dc685a;
$player-2-color: #ecaf4f;
$hover-color:    #3d4250;

$breakpoints: (
    "s": 480px,
    "m": 680px,
    "l": 1024px,
    "xl": 1248px,
    "xxl": 1440px
);

$susy: (
    'columns': susy-repeat(12),
    'gutters': 1/3,
    'spread': 'narrow',
    'container-spread': 'narrow',

    /*flow: ltr, // ltr | rtl
    output: float, // float | isolate
    math: fluid, // fluid | static (requires column-width)
    column-width: 40px, // false | value
    container: auto, // length or % | auto
    container-position: center, // left | center | right | <length> [*2] (grid padding)
    last-flow: to,
    gutter-position: after, // before | after | split | inside | inside-static (requires column-width)
    global-box-sizing: content-box, // content-box | border-box (affects inside/inside-static)
    debug: (
		image: show,
		color: rgba(#66f, .25),
		output: background, // background | overlay
		toggle: top right
	)*/
);